.login-form
  display flex
  flex-flow column wrap

  max-width 50rem
  margin base-spacing*3 auto
  background white
  padding base-spacing*3

.form-group
  margin-top base-spacing
  margin-bottom base-spacing

.form-input
  display flex
  flex-flow column wrap

  .label
    margin-bottom spacing-small


.form-control
  padding spacing-small
